@if $td-enable-google-fonts {
    @import url($web-font-path);
}

footer {
    min-height: 150px;

    @include media-breakpoint-down(md) {
         min-height: 200px;
    }
}

// Adjust anchors vs the fixed menu.
@include media-breakpoint-up(md) {
    .td-offset-anchor:target {
        display: block;
        position: relative;
        top: -4rem;
        visibility: hidden;
    }

    h2[id]:before, h3[id]:before, h4[id]:before, h5[id]:before {
        display: block;
        content: " ";
        margin-top: -5rem;
        height: 5rem;
        visibility: hidden;
    }
}



@import "functions";
@import "olm-variables";
@import "reset";
@import "type";
@import "sidebar-tree";
@import "breadcrumb";

//components
@import "header";
@import "footer";

//layout
@import "homepage";
@import "docs";

//global
@import "global";
